.detailsButton {
    border-radius: 5px;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: black;
    background-color: orange;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}

.containerImageDinner{
    position: absolute;
    right: 20px;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerImageDinner>img{
    max-width: 100%;
    max-height: 100%;
    border-left: black 2px solid;
    padding-left: 10px;
}

.textButton{
    margin: 0;
    position: absolute;
    left: 0;
    width: calc(100% - 70px);
    text-align: center;
}

.message{
    text-align: center;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    position: fixed;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: 3s;
    animation: fadeOut 4s forwards;
}

.confirmMessage {
    background-color: #4caf50;
    color: white;
}

.errorMessage{
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.totalPrice{
    color: white;
    font-size: 1.5em;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0;}
}


