.defaultTitle{
    font-size: 1.3em;
    padding-left: 5px;
    height: 50px;
}

.defaultTitle>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerElements{
    margin: 20px auto 20px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.containerElements>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-bottom: black 2px solid;

}

.containerImageandNameElement{
    height: 100%;
    width: 60%;
}


.containerElements>div>div{
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
.containerElementImage{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageElement{
    max-width: 100%;
    max-height: 90%;
}

.containerPriceAndButtonsOwner{
    justify-content: space-between;
}

.containerPriceAndButtonsOwner>div{
    display: flex;
    gap: 5px;
}

.deleteAdminOwner{
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #e6e6e6;
    z-index: 10;
    text-align: center;
}


.containerConfirmButtons{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.textConfirmdeletesection{
    font-size: 1.8em;
}

.textElement{
    font-size: 1.3em;
    font-weight: bold;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.priceElement{
    font-size: 1.3em;
    margin-right: 10px;
}

.containerPrice{
    margin-top: 20px;
}

.containerSectionimage,.containerArticleImage{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 400px) {
    .containerElements{
        font-size: 0.9em;
    }
    .containerElements>div>div{
        gap: 0;
    }
}

@media only screen and (max-width: 350px) {
    .containerElements{
        font-size: 0.7em;
    }
    .containerElements>div>div{
        gap: 0;
    }
    .containerElementImage{
        width: 40px;
    }
}

