.defaultTitle{
    position: relative;
    top: 10px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    margin: 20px;
    padding-left: 25px;
    border: 2px solid black;
}
.defaultTitle>p{
    margin: 0;
}
.tituloAdmin{
    font-size: 2.5em;
}

.logoAdmin{
    position: relative;
    width: 100px;
    height: auto;
}

.ownersContainer{
    position: relative;
    top: 20px;
    margin: 20px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: start;
}

.ownersContainer>*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 300px;
    border: 5px solid black;
}
.boximageowner{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.owner{
    justify-content: space-evenly;
}

.restaurantName
{
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    width: 250px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.containerActionButtons{
    display: flex;
    gap: 10px;
}

.containerConfirmDelete{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.confirmDelete{
    background-color: #e6e6e6;
    padding: 50px;
    border-radius: 5px;
    border: 3px solid black;
}

.errorCard{
    display: none;
    border: 3px red solid;
    border-radius: 3px;
    color: red;
    padding: 20px;
}






