.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    background: #e6e6e6;
    border: 5px solid #c8c8c8;
    border-radius: 5px;
    width: 80%;
    height: min-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.loginForm > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
}

.labelloginform {
    margin-bottom: 2vw;
    font-size: 5vw;
    text-align: inherit;
}

.loginForm > div > input {
    font-size: 4vw;
    border: 5px solid #c8c8c8;
    border-radius: 3px;
}

.loginForm > div > input:focus-visible {
    outline: black solid 1px;
    border: 5px solid #c8c8c8;
}

#loginError {
    border: 2px solid red;
    text-align: center;
    font-size: 4vw;
    padding: 3vw;
    color: red;
    margin-top: 2vw;
    background-color: #f8d7da;
    position: relative;
}

.logo {
    position: relative;
    width: 20vw;
    height: auto;
    margin-bottom: 2vw;
}

@media screen and (min-width: 450px) {

    .loginForm {
        width: 400px;
    }

    .loginForm > div {
        margin-bottom: 10px;
    }

    .labelloginform {
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    .loginForm > div > input {
        font-size: 15px;
    }

    #loginError {
        font-size: 1.2em;
        padding: 15px;
        margin-top: 15px;
    }

    .logo {
        width: 10vw;
    }
}



